/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

@font-face {
    font-family: 'adineue2013regular';
    src: url('../fonts/adineue2013-regular-webfont.eot');
    src: url('../fonts/adineue2013-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adineue2013-regular-webfont.woff2') format('woff2'),
         url('../fonts/adineue2013-regular-webfont.woff') format('woff'),
         url('../fonts/adineue2013-regular-webfont.ttf') format('truetype'),
         url('../fonts/adineue2013-regular-webfont.svg#adineue2013regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'adineue2013bold';
    src: url('../fonts/adineue2013-bold-webfont.eot');
    src: url('../fonts/adineue2013-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adineue2013-bold-webfont.woff2') format('woff2'),
         url('../fonts/adineue2013-bold-webfont.woff') format('woff'),
         url('../fonts/adineue2013-bold-webfont.ttf') format('truetype'),
         url('../fonts/adineue2013-bold-webfont.svg#adineue2013bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adineue_proregular';
    src: url('../fonts/adineuepro-regular-webfont.eot');
    src: url('../fonts/adineuepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adineuepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/adineuepro-regular-webfont.woff') format('woff'),
         url('../fonts/adineuepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/adineuepro-regular-webfont.svg#adineue_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "adihausregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/adihausregular.eot?#iefix") format("embedded-opentype"), url("../fonts/adihausregular.woff2") format("woff2"), url("../fonts/adihausregular.woff") format("woff"), url("../fonts/adihausregular.ttf") format("truetype");
}
@font-face {
    font-family: "adihausbold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/adihausbold.eot?#iefix") format("embedded-opentype"), url("fonts/adihausbold.woff2") format("woff2"), url("fonts/adihausbold.woff") format("woff"), url("fonts/adihausbold.ttf") format("truetype");
}



/* Media queries
-------------------------------------------------------------------------------*/
/*/*and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2)*/
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { */
    /*init styles*/
    html, body{ min-height: 100%; height: 100%; position: relative;  }
    .wrapper{ max-width: 768px; margin: 0 auto; /*outline: 1px solid red;*/ background: #fff; position: relative; /*height: 100%;*/ height: auto;  /*overflow-y: scroll;*/ }
        .wrapper .pattrn{ /*background: url("../imgs/backBg.jpg") 15px bottom no-repeat; background-size: 730px auto;*/ background-color: #f8ee25; border-left: 15px solid #fff; border-right: 15px solid #fff; overflow-x: hidden; width: 100%; position: relative; min-height: 590px; }
    /*HELPERS*/

    .font1{ font-family: "adineue2013regular", sans-serif;}
        .mxWdth768{ max-width: 768px; padding: 7px 15px; }
            .mxWdth768.yllwBg{ background-color: #f8ee25; }
            .mxWdth768.noPaddng{ padding: 0; }
            .BGcolorNone{background-color: rgba(0,0,0,0);} 

            .center-elmnt{text-align:center; margin: 0 auto; width: 80%; }
                .center-elmnt.toMax90{ width: 90%; }
            .left-element{text-align: left; width: 80%; margin: 15px auto; font-size: 10px;  }
           
            .input{margin: 10px auto ; display: block;  border: none;}
            .color-text{color: rgba(0,0,0,0.3);}
            .photo-uploaded{height: 15px; width: 15px; display: inline-block; margin-left: 5px}
            .padding{margin-top: 50px;}
            a {color: #000;}
            .icon-feedback{background: url(../imgs/noupload.png) no-repeat center 5px;}
            .icon-feedback-uploaded{background: url(../imgs/uploaded.png) no-repeat center 5px;}

            .photo-uploaded-replays3{height: 41px; width: 100px; display: inline-block; margin-left: 5px; float: right;  margin-top: -50px;}
            .photo-uploaded-replays2{height: 41px; width: 100px; display: inline-block; margin-left: 5px; float: right;  margin-top: 60px;}
            .photo-uploaded-replays{height: 41px; width: 100px; display: inline-block; margin-left: 5px; margin-top: -30px; float: right;}
            .icon-replays{background: url(../imgs/replaysLogo.png) no-repeat center 5px;}


    /*HEADER*/
        .main-head{ position: relative; display: block; width: 100%; max-width: 768px; margin: 0 auto; max-height: 334px; z-index: 10; border-bottom: 15px solid #fff; }
            .main-head.mxWdth768{ padding-top: 15px; }
            .main-head img{ width: 100%;  }
  
    /*FOOTER*/
        .main-foot{ position: fixed; bottom: 0; width: 100%; height: 237px; /*outline: 1px solid blue;*/ z-index: 0; pointer-events: none; max-width: 738px; }
            .main-foot img{ width: 100%;  }

    /*SECTION*/
        section.sctn, .sctn{ position: relative; z-index: 10; margin: 0px; /*outline: 1px solid red;*/ border-bottom: 10px solid #fff; }
        .slice{ width: auto; left: 0; top: 0; max-width: 740px; width: 100%; }
        .slice.active{ background-color: #fff; }
                .sctn.ImgBG1{background: url(../imgs/resultBG1.jpg) no-repeat center top; height: 588px;}
                .sctn.ImgBG2{background: url(../imgs/resultBG2.jpg) no-repeat center top; height: 588px;}
                .sctn.ImgBG3{background: url(../imgs/resultBG3.jpg) no-repeat center top; height: 588px;}
                .sctn.ImgBGregistro{background: url(../imgs/registroBG.jpg) no-repeat center top; height: 451px;}


        /*MEDALS*/
            .medalIco{ margin: 0 auto; height: 300px; width: 198px; height: 250px; margin-top: -8px;}
                .medalIco.medal1{ background: url("../imgs/medal1.png") no-repeat center center;  }
                .medalIco.medal2{ background: url("../imgs/medal2.png") no-repeat center center;}
                .medalIco.medal3{ background: url("../imgs/medal3.png") no-repeat center center;}
                .medalIco.medal4{ background: url("../imgs/medal4.png") no-repeat center center;}

        /*LABELS*/
         .labelBig{ margin: 0 auto; height: 105px; width: 679px; margin-left: -14px;} 
               .labelBig.label1{ background: url("../imgs/label-hardrunner.png") no-repeat left top; position: relative; }
               .labelBig.label2{ background: url("../imgs/label-actionrunner.png") no-repeat left top; position: relative; }
               .labelBig.label3{ background: url("../imgs/label-ecorunner.png") no-repeat left top;  background-size: 679px 108px; position: relative; }     

        /*FORMS*/
         .form-padding{padding: 7px 0px 0; background-color: #fff; }
            .form-padding.noBgClr{ background-color: transparent; }
   
        /*FIELDSETS*/
          fieldset.fldset, .fldset{position: relative; padding: 0px;margin: 0; border-bottom: 15px solid #fff; }
          .fldset.padding.noBrdr{ border-bottom: 0; }
            .form-padding.noBgClr fieldset.fldset:last-child{ border-bottom: 0; margin-top: 0; padding: 15px 0; }
            .fldset.ftFldst01, .fldset.ftFldst02, .fldset.ftFldst03{ margin: 0 0 35px;  background-color: #f8ee25;  }
                .fldset.ftFldst03{ margin-bottom: 0; }
                .fldset.ftFldst04{ margin: 15px 0 0; background: url("../imgs/footer.jpg") center bottom no-repeat;  }
            .fldset.ftFldst01:after{ position: absolute; width: 100%; height: 30px; background: url("../imgs/foot-fieldset01.jpg") center top no-repeat; content: ''; bottom: -33px;  }
            .fldset.ftFldst02:after{ position: absolute; width: 100%; height: 30px; background: url("../imgs/foot-fieldset02.jpg") center top no-repeat; content: ''; bottom: -33px; }
                .fldset.ftFldst01:after, .fldset.ftFldst02:after, .fldset.ftFldst03:after{  border-top: 15px solid #fff;  }

         /*LEGENDS*/
            legend.lgnd,  .lgnd{ position: relative; margin: 0 auto; color: white; display: table; font-family: "adihausregular", sans-serif; }
                  .lgnd.lgndBlck{position: relative; color: white; background-color: #000; font-size: 14px; margin: 25px auto 15px; padding: 8px 15px; text-align: center; line-height: 1.2em; }
                  .lgnd.lgndRed{ position: relative; color: white; background-color: #ec2292; font-size: 14px; margin: 25px auto 15px; padding: 8px 15px; text-align: center; line-height: 1.2em; }
                   .lgnd.lgndRedfinal{ position: relative; color: white; background-color: #ec2292; font-size: 14px; margin: 25px auto 15px; padding: 8px 15px; text-align: center; line-height: 1.2em; }

                    .lgnd.lgndRed:before{ position: absolute; content: ""; width: 0; left: -34px; top: 0;
                    height: 100%; width: 34px; background: url("../imgs/corner-left-lbl.png") center top no-repeat; background-size: cover;
                        /*height: 0;
                        border-style: solid;
                        border-width: 0 0 58px 34px;
                        border-color: transparent transparent #ec2191 transparent;*/ }
                    .lgnd.lgndRed:after{ position: absolute; content: ""; width: 0; right: -18px; top: 0;
                    height: 100%; width: 34px; background: url("../imgs/corner-right-lbl.png") center top no-repeat; background-size: cover;
                    }
                        .lgnd.lgndRed.twoLns:after{ right: -34px; }


                         .lgnd.lgndBlck:before{ position: absolute; content: ""; width: 0; left: -34px; top: 0;
                    height: 100%; width: 34px; background: url("../imgs/corner-left-lbl-blck.png") center top no-repeat; background-size: cover;
                        /*height: 0;
                        border-style: solid;
                        border-width: 0 0 58px 34px;
                        border-color: transparent transparent #ec2191 transparent;*/ }
                    .lgnd.lgndBlck:after{ position: absolute; content: ""; width: 0; right: -18px; top: 0;
                    height: 100%; width: 34px; background: url("../imgs/corner-right-lbl-blck.png") center top no-repeat; background-size: cover;
                    }
                        .lgnd.lgndBlck.twoLns:after{ right: -34px; }



                         .lgnd.lgndRedfinal:before{ position: absolute; content: ""; width: 0; left: -34px; top: 0;
                    height: 100%; width: 34px; background: url("../imgs/corner-left-lbl.png") center top no-repeat; background-size: cover;
                        /*height: 0;
                        border-style: solid;
                        border-width: 0 0 58px 34px;
                        border-color: transparent transparent #ec2191 transparent;*/ }
                    .lgnd.lgndRedfinal:after{ position: absolute; content: ""; width: 0; right: -32px; top: 0;
                    height: 100%; width: 34px; background: url("../imgs/corner-right-lbl.png") center top no-repeat; background-size: cover;
                    }
                        .lgnd.lgndRedfinal.twoLns:after{ right: -34px; }

            /*LABELS*/
                .lblElmnts{ display: block; line-height: 1.3em; margin: 5px auto; text-align: left; padding: 0; font-size: 15px; color: #111111; font-family: "adineue_proregular", sans-serif; letter-spacing: 0px; }
                .left-element .lblElmnts:first-child{ margin-top: 20px; }
                .left-element .lblElmnts:last-child{ margin-bottom: 25px; }
                    .lblElmnts.inctv{ opacity: .5;
                        -webkit-transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                     }
                    .lblElmnts.actv{ opacity: 1; 
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        -o-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                    }
                /*TO FORM REGISTER*/
                    .lbl-inline{ display: table; border-bottom: 3px solid rgba(0,0,0,.3); margin-top: 25px; min-width: 552px; margin-bottom: 20px; }
                        .lbl-inline span{ position: relative; float: left; font-family: "adineue_proregular", sans-serif; font-size: 25px; color: #111111; color: rgba(17,17,17,.5); padding-top: 5px; top: -3px; }
                        .lbl-inline input[type="text"], .lbl-inline input[type="email"]{ float: left; display: table-cell; background-color: transparent; font-family: "adineue_proregular", sans-serif; font-size: 28px; color: #111111; color: rgba(17,17,17,.8); padding-left: 10px; border: none; margin: 0; }
                        .lbl-inline input[type="text"]:focus, .lbl-inline input[type="email"]:focus{ outline: none; border: none; }

                    /*SELECT*/
              
                    select {
                        padding:3px;
                        background: #f8f8f8;
                        color:#888;
                        border:none;
                        display: block; 
                        width: 350px; background-color: rgba(0,0,0,0); 
                        
                    }
       



          /*CHECKBOX*/
            .check{margin-top: 10px;}
             .check.check1{}
             /*from: http://miiquel.com/demo/css3-checkbox-radio/;*/
                    input[type="checkbox"]{ display: none; }
                    input[type="radio"]{ display: none; }

                    /*label{
                      color:#545454;
                      font-family: Arial;
                      font-size: 14px;
                      text-shadow:0 1px 1px #f2f2f2;
                    }*/
                    label.lbl{ pointer-events: none; margin-right: 10px; }
                    input[type="checkbox"] + label.lbl span{
                      display: inline-block;
                      width: 29px;
                      height: 29px;
                      background: url(../imgs/check_radio_sheet.png) left center no-repeat;
                      margin: -1px 4px 0 0;
                      vertical-align: middle;
                      cursor:pointer;
                    }

                    input[type="checkbox"]:checked + label.lbl span{
                      background: url(../imgs/check_radio_sheet.png) -32px center no-repeat;
                    }

                    input[type="radio"] + label.lbl span{
                      display: inline-block;
                      width: 29px;
                      height: 29px;
                      background: url(../imgs/check_radio_sheet.png) -64px center no-repeat;
                      background-position: left center; 
                      margin: -1px 4px 0 0;
                      vertical-align: middle;
                      cursor:pointer;
                    }

                    input[type="radio"]:checked + label.lbl span{
                      background: url(../imgs/check_radio_sheet.png) -94px center no-repeat;
                      background-position: -32px center; 
                    }



         /*INPUTS*/
          .input{margin: 10px auto ; display: block;}
             .input.input1{width: 450px; background-color: rgba(0,0,0,0); border-bottom: 2px solid rgba(0,0,0,0.3);}
          
          /*BUTTONS*/
          .btn{display: inline-block; white-space: nowrap; vertical-align: middle; }
                .btn.btn-lg {padding: 8px 37px; line-height: 1.3333333; border-radius: none; }
                .btn.btn-sm {padding: 10px 10px; line-height: 1.3333333; border-radius: none; }
                .btn.btn-color1 {color: #fff; background-color: #000; border: none; font-size: 10px;}
                .btn.marginRight {margin-right: 20px;}
                    .btn.skew{ position: relative; margin: 0 5px; }
                        .btn.skew .wall{ position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

                        .btn.btn-lg.btn-color1.skew, .btn.btn-lg.btn-color2.skew{ background-color: transparent;}  .btn.btn-lg.btn-color2.skew.center-redbutton{display: block; margin: 20px auto;}
                        .btn.skew span.text{ position: relative; background-color: transparent; padding: 10px 15px; font-size: 14px; font-family: "adihausregular", sans-serif;} 
                        .btn.skew.btn-color1 .wall{
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#363231+0,363231+49,363231+49,0c0c0c+49,0c0c0c+100 */
                        background: #363231; /* Old browsers */
                        background: -moz-linear-gradient(top,  #363231 0%, #363231 49%, #363231 49%, #0c0c0c 49%, #0c0c0c 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363231), color-stop(49%,#363231), color-stop(49%,#363231), color-stop(49%,#0c0c0c), color-stop(100%,#0c0c0c)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #363231 0%,#363231 49%,#363231 49%,#0c0c0c 49%,#0c0c0c 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #363231 0%,#363231 49%,#363231 49%,#0c0c0c 49%,#0c0c0c 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #363231 0%,#363231 49%,#363231 49%,#0c0c0c 49%,#0c0c0c 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #363231 0%,#363231 49%,#363231 49%,#0c0c0c 49%,#0c0c0c 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363231', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-9 */
                            border: 2px solid #000000;
                            transform: rotate(0deg) skew(-33deg) translate(0);
                            -webkit-transform: rotate(0deg) skew(-33deg) translate(0);
                            -moz-transform: rotate(0deg) skew(-33deg) translate(0);
                            -o-transform: rotate(0deg) skew(-33deg) translate(0);
                            -ms-transform: rotate(0deg) skew(-33deg) translate(0);
                          }

                         .btn.skew.btn-color2 .wall{ 
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da1f86+0,dc1f86+49,ec2292+50,ec2292+100 */
                        background: #da1f86; /* Old browsers */
                        background: -moz-linear-gradient(top,  #da1f86 0%, #dc1f86 49%, #ec2292 50%, #ec2292 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da1f86), color-stop(49%,#dc1f86), color-stop(50%,#ec2292), color-stop(100%,#ec2292)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da1f86', endColorstr='#ec2292',GradientType=0 ); /* IE6-9 */
                        border: 2px solid #c2227a;
                             transform: rotate(0deg) skew(-33deg) translate(0);
                            -webkit-transform: rotate(0deg) skew(-33deg) translate(0);
                            -moz-transform: rotate(0deg) skew(-33deg) translate(0);
                            -o-transform: rotate(0deg) skew(-33deg) translate(0);
                            -ms-transform: rotate(0deg) skew(-33deg) translate(0);
                     }

                .btn.btn-color2 {color: #fff; background-color: #ec2191; border: none; font-size: 10px; }
                    .btn.btn-color2.grdnt{ 
                        padding: 5px 5px; font-family: "adineue2013regular", sans-serif; font-size: 15px; color: #fff; text-transform: lowercase;
                         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da1f86+0,dc1f86+49,ec2292+50,ec2292+100 */
                        background: #da1f86; /* Old browsers */
                        background: -moz-linear-gradient(top,  #da1f86 0%, #dc1f86 49%, #ec2292 50%, #ec2292 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da1f86), color-stop(49%,#dc1f86), color-stop(50%,#ec2292), color-stop(100%,#ec2292)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #da1f86 0%,#dc1f86 49%,#ec2292 50%,#ec2292 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da1f86', endColorstr='#ec2292',GradientType=0 ); 
                            -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.33);
                            -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.33);
                            box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.33);
                        border: 2px solid #c2227a; border-radius: 3px; margin: 0 2px;
                     }

                     .shadow{ 
                        -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.33);
                            -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.33);
                            box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.33);
                        border: 2px solid #c2227a; border-radius: 3px; margin: 0 2px;
                     }

                .btn.btn-color3 {color: #fff; background-color: #ec2191; border: none; font-size: 26px;}
                .btn.btn-icon{/*background-image: url(../imgs/);*/ background-repeat: no-repeat; height:50px;}

          /*PARRAFOS*/
          .parrafo{margin: 35px auto; width: 500px;}
                .parrafo.p1{ font-size: 14px; color: black;  text-align: left;}
                .parrafo.p2{ font-size: 10px; color: #7b7b7b;}
                .parrafo.p3{ font-size: 30px; font-weight: 900; color: black;  text-align: center;}

          /*FIGURE*/
          .figure{border: solid 4px #ec2292; border-radius: 25px; width: 500px; height: 300px; margin: 30px auto;}


/*}*/

@media screen and (max-width: 480px) {

}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}